<div class="k-promo promo-<%= id %> iwonder k-colour-palette-palette-<%= Random.rand(1..5) %>"><a href="<%= link %>"><div class="media"><img class="square" src="<%= image %>" alt=""><span class="overlay"></span></div><div class="context"><p class="title k-type-header"><%= title %></p></div></a></div>
